:root {
    --color-principal: white;
    --color-secondary: #d8bbff;
    --color-third: #c77dff;
    --color-fourth: #5a189a;
    --color-fifth: #0E1428;
}

* {
    font-family: 'Pacifico', cursive;
    background-color: var(--color-secondary);
    color: var(--color-principal);
    margin: 0;
    padding: 0;
}

.index-align {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
}

.title {
    text-align: center;
    font-size: 65px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px black, 1px 1px 0 black;
}

.enlace {
    text-decoration: none;
    border-radius: 5px;
    color: #5a189a;
    padding: 5%;
    align-self: center;
    border: 2px solid #5a189a;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.quiz_title {
    text-align: center;
    font-size: 65px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px black, 1px 1px 0 black;
}

.box-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    font-size: 30px;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px black, 1px 1px 0 black;
}

.box-flex-flexing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px black, 1px 1px 0 black;
}

label {
    margin: 4%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;
    background-color: var(--color-third);
    font-size: 20px;
}

.respuesta1:hover {
    background-color: var(--color-fourth);
}

.respuesta2:hover {
    background-color: var(--color-fourth);
}

.respuesta3:hover {
    background-color: var(--color-fourth);
}

.respuesta4:hover {
    background-color: var(--color-fourth);
}

.respuesta5:hover {
    background-color: var(--color-fourth);
}

.button {
    text-decoration: none;
    border-radius: 5px;
    color: #5a189a;
    padding: 2%;
    width: 70%;
    align-self: center;
    border: 2px solid #5a189a;
    text-align: center;
    border-radius: 2px;
    font-size: 20px;
}

.button:hover {
    background-color: #6fffe9
}

@media (min-width: 768px) {
    .box-flex-flexing {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .quiz_title {
        text-align: center;
        font-size: 70px;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px black, 1px 1px 0 black;
    }
    .legend {
        font-size: 40px;
    }
    .label {
        font-size: 30px;
    }
}

@media (min-width: 1366px) {
    .quiz_title {
        text-align: center;
        font-size: 80px;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px black, 1px 1px 0 black;
    }
    .legend {
        font-size: 100px;
    }
}